body {
  background-color: white;
  margin: 0px;
  overflow: hidden;
}

#animation {
  display: block;
  position: absolute;
  left: 45%;
  bottom: 18%;
  z-index: 0;
}

.frames {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

.number {
  font-family: 'Fjalla One', sans-serif;
  font-size: 60px;
  margin: 0px;
  color: #003366;
  transition: all 1s;
}

.right {
  position: absolute;
  right: 25%;
}

.left {
  position: absolute;
  left: 25%;
}

.number:hover {
  transform: scale(2);
  transition: all 500ms;
}